{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
      <div class="graphic-element">
        <div class="graphic-element__left"></div><img src="./img/prod_grapgic_element.png" alt="">
        <div class="graphic-element__right"></div>
      </div>
    </div>
    <div class="container"> 
      <div class="indicators"> <img src="./img/prod_indicators.png" alt=""></div>
    </div>
    <div class="container">
      <div class="graphic-element">
        <div class="graphic-element__left"></div><img src="./img/prod_grapgic_element.png" alt="">
        <div class="graphic-element__right"></div>
      </div>
    </div>
    <div class="container"> 
      <div class="history"> 
        <p>Духовные грамоты великого князя Ивана Калиты упоминают волость именем Селна, расположенную по правым притокам течения реки Мерьской[3].</p>
        <p>Деревня Давыдово возникла в XVII веке — первым письменным упоминанием является 9 июня 1631 года. Название деревни произошло, по разным версиям, от мужского имени Давыд или Давид.</p>
        <p>По писцовым книгам Московского уезда 1631—1633 годов в составе волости Сельны находится «погост на речке Сошице, а на погосте церковь мученика Никиты; пашни церковные паханные 4 чети, да лесом поросло 6 четей в поле, а в дву потомуж, сена 20 копен, лесу пашенного 3 десятины, а не пашенного 2 десятины». На территории современной поликлиники стоял «никонианский» Крестовоздвиженский храм. Первое же упоминание о старообрядческой моленной в Давыдове находится в «Ведомости о состоящих в Москве и её губернии старообрядческих и раскольнических часовнях и молельнях», составленной в 1826 году.[4]</p>
        <p>Подавляющее большинство населения деревни, как и в целом по Запонорской волости, в состав которой входила деревня, были староверами. По данным известного миссионерского издания, журнала «Братское слово», едва ли можно было насчитать до двух десятков дворов православного населения. Хотя здесь же, в погосте Селна (на месте нынешней Давыдовской больницы), стоял православный храм, однако на религиозные воззрения жителей края он практически не влиял.[4]</p>
        <p>На исторических картах второй половины XIX[5] — начала XX[6] веков поселение именовалось по названию храма — Воздвиженское. По некоторым историческим данным село Воздвиженское относилось к Богородской волости Московского уезда, однако согласно картам Московского уезда XIX века село располагалось на границе Бронницкого уезда.</p>
        <p>Несмотря на специфические условия, крестьяне в Давыдове развивали хлебопашество. В это же время возникали различные промыслы. Давыдовские жители занимались ткачеством и использовали при этом местные виды сырья — лён, коноплю, а также хлопчатобумажную пряжу с прядильных фабрик окрестностей.</p>
        <p>Стан стоил тогда 15—20 рублей. Их ставили в «светёлках» — специальных домах на несколько станков. При 12-часовом рабочем дне ткач вырабатывал за 2 дня кусок ткани. Домашние ткачи на рынок не работали, а исполняли заказы частного заказчика. Григорий и Афанасий Гущины имели ручное ткачество, в 1845 году у них работало 20 человек. В 1890 году купцом Г. А. Гущиным была основана ткацкая фабрика на 20 человек, купцами Тереховыми — красильное производство на 7 человек. В 1906 году Гущины строят механическую фабрику с двумя двигателями в 123 лошадиных силы. В 1913 году на этой фабрике уже работало 166 человек. В 1912—1915 годах здание фабрики купцов было перестроено и значительно расширено.</p>
        <p>До 1914 года в Давыдове было две школы: церковно-приходская двухклассная и земское начальное училище. В 1905—1910 годах учителем церковно-приходской школы был священник единоверческой церкви отец Фёдор. По воспоминаниям местных жителей, «суровый был батюшка, боялись его». Финансирование земского начального училища осуществлялось в основном за счёт местного бюджета. Обязательными предметами для изучения были: Закон Божий, русский язык с чистописанием, арифметика.</p>
      </div>
    </div>
{% endblock %}